* {
    margin:0px;
    padding: 0px;
    font-family: sans-serif;
}
.left {
    margin-bottom: 110px;
}
.nav {
    display:flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    background-color: rgb(56, 53, 53);
    color: rgb(255, 255, 255);
}
.nav-title {
    margin-left: 100px;
}
.nav-links {
    color: white;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 50px;
}
.nav a {
    color: white;
    margin-right: 50px;
    text-decoration: none;
    margin-left: 50px;
}
.btn {
    margin-right: 100px;
    height: 40px;
    width: 100px;
    color: white;
    background-color: rgb(0, 132, 255);
    font-size: larger;
    border: 3px solid black;
}
.middle {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-container {
    display:flex;
    align-items: center;
    justify-content:space-between;
    gap: 20px;
    width: 500px;
    margin-left: 50px;
    margin-right: 50px;
}
.info {
    background-color: #ffffff;
    height: 250px;
    width: 100%;
    border: 2px solid black;
}
.picture {
    background-color: #1bb4cf;
    height: 50px;
    margin-bottom: 30px;
}
.location {
    display: flex;
}
.edit {
    display: flex;
    color: rgb(95, 144, 235);
    text-decoration: underline;
}
.circle{
    width: 60px;
    height: 60px;
    margin-left: 30px;
    margin-top: 20px;
}
.info h2 {
    margin-left: 30px;
    margin-top: 40px;
}
.location {
    margin-left: 10px;
    margin-top: 10px;
}
.jobs {
    margin-left: 30px;
    margin-top: 10px;
}
.description {
    margin-left: 30px;
    margin-top: 10px;
}
.marker {
    width: 15px;
    height: 20px; 
    margin-left: 20px;
}
.gear {
    width: 20px;
    height: 20px; 
}
.edit {
    margin-left: 30px;
    margin-top: 10px;
}
.edit p {
    margin-left:10px;
}
.requests-flex {
    display:flex;
    align-items: center;
    justify-content:space-between;
    gap: 20px;
    width: 300px;
}
.requests {
    background-color: #ffffff;
    height: 200px;
    width: 100%;
    border: 2px solid black;
    margin-right: 20px;
    margin-top: 50px;
}
.connection-requests {
    background-color: rgb(58, 55, 55);
    color: white;
    height: 60px;
    text-align: center;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: center;
}
.req {
    margin-top: 20px;
}
.todd {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 300px;
    background-color: rgb(221, 221, 221);
}
.phil {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 300px;
    background-color: rgb(221, 221, 221);
}
.todd-e {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.phil-k {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.accept {
    width: 30px;
    height: 30px;
}
.deny {
    width: 30px;
    height: 30px;
}
.connections-flex {
    display:flex;
    align-items: center;
    justify-content:space-between;
    width: 300px;
}
.connections {
    background-color: #ffffff;
    height: 360px;
    width: 100%;
    border: 2px solid black;
    margin-top: 50px;
}
.img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.your-connections {
    background-color: rgb(58, 55, 55);
    color: white;
    height: 60px;
    text-align: center;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right {
    display: inline-block;
}
.names {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 180px;
    margin-top: 10px;
 
    margin-bottom: 10px;
}
.view {
    border-top: 2px black solid;
    color: blue;
    text-decoration: underline;
    height: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.view p {
    margin-left: 20px;
}
.education-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 550px;
    height: 200px;
}
.bottom {
    background-color: #ffffff;
    height: 250px;
    width: 100%;
    border: 2px solid black;
    margin-left: 50px;
    margin-top: 150px;
}
.cd li {
    list-style-type: none;
    margin-left: 30px;
    margin-top: 20px;
    font-size: larger;
}
.edu-header {
    background-color: rgb(58, 55, 55);
    color: white;
    height: 60px;
    text-align: center;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: left;
}
.edu-header p {
    margin-left: 30px;
}
